reimbursementadapter/reimbursement-schemas/src/main/resources/schemas/core_components/followup_processdevelopment_reimbursement_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Eric Jacobsson (Mawell) -->
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:followup:processdevelopment:reimbursement:1" targetNamespace="urn:riv:followup:processdevelopment:reimbursement:1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:complexType name="CareEventType">
		<xs:sequence>
			<xs:element name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sourceSystem" type="tns:SourceType"/>
			<xs:element name="patient" type="tns:PatientType"/>
			<xs:element name="emergency" type="xs:boolean"/>
			<xs:element name="eventType" type="tns:eventTypeType"/>
			<xs:element name="feeCategory" type="tns:CVType" minOccurs="0"/>
			<xs:element name="contracts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contract" type="tns:ContractType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="careUnit" type="tns:CareUnitType"/>
			<xs:element name="lastUpdatedTime" type="tns:TimeStampMillisType"/>
			<xs:element name="deleted" type="xs:boolean"/>
			<xs:element name="datePeriod" type="tns:SplitDatePeriodType"/>
			<xs:element name="involvedProfessions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Should we register separate types for these instead? Do we need to names as well at some point?</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="profession" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="diagnoses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="diagnosis" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="conditions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="condition" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="activities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="activity" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="referredFrom" type="tns:HSAIdType" minOccurs="0"/>
			<xs:element name="stayBefore" type="tns:CVType" minOccurs="0"/>
			<xs:element name="stayAfter" type="tns:CVType" minOccurs="0"/>
			<xs:element name="deceased" type="xs:boolean"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReimbursementEventType">
		<xs:sequence>
			<xs:element name="id">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organization" type="tns:HSAIdType"/>
						<xs:element name="source">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="value">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="emergency" type="xs:boolean" minOccurs="0"/>
			<xs:element name="eventType" type="tns:eventTypeType"/>
			<xs:element name="patient" type="tns:PatientType"/>
			<xs:element name="involvedProfessions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="profession" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="activities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="activity" type="tns:CVType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="productSet" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="product" type="tns:ProductType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatientType">
		<xs:sequence>
			<xs:element name="id" type="tns:PersonIdType"/>
			<xs:element name="birthDate" type="tns:DateType" minOccurs="0"/>
			<xs:element name="gender" type="tns:GenderType" minOccurs="0"/>
			<xs:element name="residency" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="region" type="xs:string"/>
						<xs:element name="municipality" type="xs:string"/>
						<xs:element name="parish" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CVType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="displayName" type="xs:string" minOccurs="0"/>
			<xs:element name="originalText" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="HSAIdType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="IIType">
		<xs:sequence>
			<xs:element name="root" type="xs:string"/>
			<xs:element name="extension" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- YYYYMMDD -->
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DatePeriodType">
		<xs:annotation>
			<xs:documentation>
                Used for specifying a date interval using a start and an end date.
                
                start: 
                    Start date on the format YYYYMMDD
                end: 
                    End date on the format YYYYMMDD
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="tns:DateType"/>
			<xs:element name="end" type="tns:DateType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- hhmmss -->
	<xs:simpleType name="TimeType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrgUnitType">
		<xs:annotation>
			<xs:documentation>
                Information about an organizational unit.
                
                orgUnitHsaId: 
                HSA-id for the unit.
                orgUnitName
                Namn of the unit.
                orgUnitTelecom: 
                Phone number for the unit.
                orgUnitEmail: 
                Email adress to the unit.
                orgUnitAddress: 
                Postal adress to the unit.
                orgUnitLocation: 
                Text that specifies the name of the place or locattion for the unit or functions physical location.
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orgUnitHSAId" type="tns:HSAIdType" minOccurs="1"/>
			<xs:element name="orgUnitName" type="xs:string" minOccurs="1"/>
			<xs:element name="orgUnitTelecom" type="xs:string" minOccurs="0"/>
			<xs:element name="orgUnitEmail" type="xs:string" minOccurs="0"/>
			<xs:element name="orgUnitAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="orgUnitLocation" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdType">
		<xs:annotation>
			<xs:documentation>
				id
				Personal identity has the following format depending on the type
				personnummer: yyyymmddnnnn
				samordningsnummer: yyyymmddnnnn
				reservnummer: Is not standardized, there are several different variants.
				type
				Type av identification.
				personnummer = '1.2.752.129.2.1.3.1', se http://sv.wikipedia.org/wiki/Personnummer#Sverige
				samordningsnummer = '1.2.752.129.2.1.3.3', se http://sv.wikipedia.org/wiki/Samordningsnummer
				reservnummer SLL = '1.2.752.97.3.1.3', se http://sv.wikipedia.org/wiki/Reservnummer
			  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
                
                The time has the format YYYYMMDDhhmmss
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TimePeriodType">
		<xs:annotation>
			<xs:documentation>
                Used to specify a time interval using a start and an end timestamp.
                Used to specify a time interval using a start and an end timestamp.
                
                start: 
                The start time of the format YYYYMMDDhhmmss
                end: 
                The end time of the format YYYYMMDDhhmmss
            </xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:simpleType name="TimeStampMillisType">
		<xs:annotation>
			<xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
                
                The time has the format YYYYMMDDhhmmssMMM
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])([0-9])([0-9])([0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TimePeriodMillisType">
		<xs:annotation>
			<xs:documentation>
                Used to specify a time interval using a start and an end timestamp.
                Used to specify a time interval using a start and an end timestamp.
                
                start: 
                The start time of the format YYYYMMDDhhmmssMMM
                end: 
                The end time of the format YYYYMMDDhhmmssMMM
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="tns:TimeStampMillisType"/>
			<xs:element name="end" type="tns:TimeStampMillisType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GenderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="U"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SourceType">
		<xs:sequence>
			<xs:element name="organization" type="tns:HSAIdType"/>
			<xs:element name="name" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventTypeType">
		<xs:sequence>
			<xs:element name="mainType" type="tns:CVType"/>
			<xs:element name="subType" type="tns:CVType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractType">
		<xs:sequence>
			<xs:element name="id" type="tns:IIType"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="contractType" type="tns:CVType"/>
			<xs:element name="providerOrganization" type="tns:HSAIdType"/>
			<xs:element name="payorOrganization" type="tns:HSAIdType"/>
			<xs:element name="requesterOrganization" type="tns:HSAIdType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CareUnitType">
		<xs:sequence>
			<xs:element name="careUnitHsaId" type="tns:HSAIdType"/>
			<xs:element name="careUnitLocalId" type="tns:CVType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SplitDatePeriodType">
		<xs:sequence>
			<xs:element name="startDate" type="tns:DateType"/>
			<xs:element name="startTime" type="tns:TimeType" minOccurs="0"/>
			<xs:element name="endDate" type="tns:DateType" minOccurs="0"/>
			<xs:element name="endTime" type="tns:TimeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleContractType">
		<xs:sequence>
			<xs:element name="id" type="tns:IIType" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductType">
		<xs:sequence>
			<xs:element name="code" type="tns:CVType"/>
			<xs:element name="careUnit" type="tns:CareUnitType"/>
			<xs:element name="contract" type="tns:SimpleContractType"/>
			<xs:element name="model" type="tns:CVType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
